/* general styling */
body{
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

hr{
  border-top: 1px solid #f5f5f5;
}

input{
  width: 80%;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  text-decoration: none;
  outline: none;
  padding: 10px;
}

button{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #366F81;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Champagne & Limousines', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background-color: #90C7DB;
}

h3{
  color: #366F81;
}

h4{
  padding: 0;
  margin: 0;
}

p{
  font-family: 'Champagne & Limousines', sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
}


/* Side Bar styling */
.SideBar{
  height: 100vh;
  width: 20%;
  background-color: white;
  float: left;
  text-align: center;
  position: fixed;
}

.Logo{
  margin-top: 15px;
  width: 100%;
  height: 25%;
  background-image: url('../src/assets/Logo.png');
  background-position: center;
  background-size: cover;
}

.memberOne, .memberTwo{
  padding: 2%;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

.memberOne{
  background-color: #F4AEBA;
}

.memberOne h4{
  font-family: 'Champagne & Limousines', sans-serif;
  font-weight: bolder;
  color: #ED6179;
}

.memberOne p{
  color: white;
}

.memberTwo{
  background-color: #F3CB7F;
}

.memberTwo h4{
  font-family: 'Champagne & Limousines', sans-serif;
  font-weight: bolder;
  color: #F4A000;
}

.memberTwo p{
  color: white;
}

.memberOne, .memberTwo{
  margin-bottom: 10px;
}

.profileOne h4{
  padding-top: 3%;
  text-align: center;
  font-family: 'Champagne & Limousines', sans-serif;
}

.profileTwo h4{
  padding-top: 3%;
  text-align: center;
  font-family: 'Champagne & Limousines', sans-serif;
}

.profileOne p {
  text-align: center;
}

.profileTwo p{
  text-align: center;
}

/* Main Component Styling */
.ContentBlock{
  width: 80%;
  height: 100vh;
  float: left;
  margin-left: 20%;
}

/* leftBlock */
.leftBlock{
  width: 50%;
  height: 100%;
  float: left;
  overflow: auto;
} 



/* Net Income */ 
.netIncome{
  width: 93%;
  padding: 2px;
  background-color: #366F81;
  color: white;
  margin-left: 3%;
  margin-top: 3%;
  border-radius: 10px;
  text-align: center;
}

.incomeAfterTax{
  width: 93%;
  padding: 2px;
  background-color: white;
  border-radius: 10px;
  margin-top: 3%;
  margin-left: 3%;
  
}

.totalAndSavings{
  width: 96%;
  padding: 2px;
  background-color: white;
  border-radius: 10px;
  margin-top: 3%;
  height: 38vh;
  text-align: center;
}

.totalAndSavings .randBox{
  float: left;
  margin-left: 29%;
  padding: 2%;
}

.totalAndSavings .randAmount{
  width: 30%;
  float: left; 
  padding: 3.6%;
}

.totalAndSavings .randBox{
  float: left;
}

.incomeAfterTax{
  height: 42vh;
}

.incomeAfterTax h3{
  text-align: center;
}

.profileOne{
  width: 50%;
  height: 75%;
  border-right: 2px solid #f5f5f5;
  float: left;
  padding: 0;
}

.profileTwo{
  width: 48%;
  height: 75%;
  float: left;
}

.percentageOne{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F4AEBA;
  margin: 0 auto;
}

.percentageTwo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F3CB7F;
  margin: 0 auto;
}

.profileOne .randBox{
  width: 10px;
  float: none;
  float: left;
  margin-left: 5%;
}

.profileTwo .randBox{
  width: 10px;
  float: none;
  float: left;
  margin-left: 5%;
}

.randBox{
  font-family: 'Champagne & Limousines', sans-serif;
  font-weight: bolder;
}

.randAmount{
  width: 78%;
  padding: 2%;
  background-color: #f5f5f5;
  float: left;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Champagne & Limousines', sans-serif;
}

.light{
  margin-top: 9%;
  color: #9E9E9E;
}

/* Right side styling */
.rightBlock{
  width: 50%;
  height: 100%;
  float: left;
  background-color: transparent;
}

/* Monthly expenses Block */
.monthlyExpenses{
  width: 87.5%;
  padding: 3%;
  height: 45%;
  background-color: white;
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 10px;
}

.monthlyExpenses h3{
  text-align: center;
  margin-bottom: 3%;
  padding: 0;
  margin-top: 0;

}

.expenseBlock{
  width: 100%;
  height: 6%;
  padding-top: 1%;
  padding-bottom: 2%;
  border-bottom: 1px solid #f5f5f5;
}

.expenseBlock p{
  float: left;
}

.randBox{
  float: right;
  padding: 5px;
  background-color: #90C7DB;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.expenseBlock input{
  float: right;
  width: 30%;
  padding: 6.5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.monthlyExpenses button{
  margin-top: 3%;
  margin-left: 10%;
  float: left;
}

.totalExpenses h3{
  margin-top: 4%;
  margin-left: 2%;
  float: left;
}

.damage{
  width: 100%;
  height: 20%;
}

.savingsDropdown{
  text-align: center;
  width: 30%;
  padding: 2%;
  background-color: #366F81;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: 'Champagne & Limousines', sans-serif;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 2%;
  outline: none;
}

.savingsDropdown:hover{
  background-color: #90C7DB;
}

.totalAndSavings{
  height: 56vh;
}

.totalAndSavings hr{
  width: 90%;
}

.totalAndSavings p {
  color: #9E9E9E;
}


/* calculator styling */
.calculatorWrapper{
  width: 91%;
  height: 31.5vh;
  padding: 3%;
  margin-top: 3%;
  border-radius: 10px;
  background-color: #90C7DB;
}

.screen{
  width: 90%;
  padding: 4%;
  height: 10px;
  grid-column: 1 / -1;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 3%;
  margin-left: 0.5%;
  font-family: 'Champagne & Limousines', sans-serif;
  font-weight: bolder;
  color: #366F81;
}

.inputBtns{
  width: 60%;
  float: left;
  margin-left: -0.5%;
}

.inputBtn{
  text-align: center;
  width: 30%;
  margin-left: 2%;
  margin-bottom: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  float: left;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Champagne & Limousines', sans-serif;
  font-weight: bolder;
  color: #366F81;
}

.equalsBtn{
  text-align: center;
  width: 96.5%;
  margin-left: 3%;
  margin-bottom: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  float: left;
  background-color: #F3CB7F;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Champagne & Limousines', sans-serif;
  font-weight: bolder;
  font-size: x-large;
  color: #F4A000
}

.inputBtn:hover{
  background-color: #366F81;
  color: white;
}

.equalsBtn:hover{
  background-color: #F4A000;
  color: white;
}

.operatorBtns{
  width: 40%;
  float: left;
}

.operatorBtn{
  text-align: center;
  width: 47%;
  margin-left: 3%;
  margin-bottom: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  float: left;
  background-color: #F3CB7F;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Champagne & Limousines', sans-serif;
  font-weight: bolder;
  color: #F4A000;
}

.zero{
  width: 62%;
}

.operatorBtn:hover{
  background-color: #F4A000;
  color: white;
}

.topBtn{
  text-align: center;
  width: 30%;
  margin-left: 3%;
  margin-bottom: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  float: left;
  background-color: #366F81;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Champagne & Limousines', sans-serif;
  font-weight: bolder;
  color: white;
}

.topBtn:hover{
  background-color: #1B3B45;
  color: white;
}