body{
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

input{
  height: 3%;
  width: 80%;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
}

button{
  margin-top: 20px;
  margin-bottom: 20px;
}

h4{
  padding: 0;
  margin: 0;
}

p{
  font-family: 'Champagne & Limousines', sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
}

.SideBar{
  height: 100vh;
  width: 20%;
  background-color: white;
  float: left;
  box-shadow: 23px 2px 18px -14px rgba(0,0,0,0.36);
  -webkit-box-shadow: 23px 2px 18px -14px rgba(0,0,0,0.36);
  -moz-box-shadow: 23px 2px 18px -14px rgba(0,0,0,0.36);
  text-align: center;
}

.Logo{
  margin-top: 15px;
  width: 100%;
  height: 25%;
  background-image: url('../src/assets/Logo.png');
  background-position: center;
  background-size: cover;
}

.memberOne, .memberTwo{
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

.memberOne{
  margin-bottom: 10px;
}

.ContentBlock{
  width: 80%;
  height: 100vh;
  float: left;
}